#sectionPrinciapl{
    background-color:black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(https://s1.eestatic.com/2020/10/12/actualidad/actualidad_527708533_162371848_1024x576.jpg);
}

.btn{
    width: 50px;
}

.igual {
    height: 85px !important;
}