#sectionPrinciapl{
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(https://s1.eestatic.com/2020/10/12/actualidad/actualidad_527708533_162371848_1024x576.jpg);
}

.btn{
    width: 50px;
}

.card{
    background-color: black;
}

.form-control{
    width: 315px;
}