html {
  height: 150%
}

body{
    background: url(https://s1.eestatic.com/2020/10/12/actualidad/actualidad_527708533_162371848_1024x576.jpg);
    background-repeat: no-repeat; /* que no se repita */
    background-size: cover; /* que se adapte al contenedor */
    height: auto;/* que se adpte a un alto automatico, se pued poner 100% */
    background-position: center;
}

#sectionPrinciapl{
    padding-top: 40px;
    padding-bottom: 20px;
}

.card{
    background-color: black;
    border-radius: 15px;
    text-align: center;
}

.card-img-top{
  border-radius: 50%;
  width: 70%;
}

h6{
    padding-top: 1rem;
    padding-left: 1rem;
    color: rgb(230, 226, 226);
}

.form-control{
    width: 295px;
    text-align: right;
}

.btn{
  width: 50px;
  margin-bottom: 3px;
  border-radius: 50px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-left: 15px;
}

.btn-double {
    height: 76px;
}